@font-face {
   font-family: 'Museo-Sans-Rounded';
   src: url('../fonts/Museo-Sans-Rounded.eot');
   src: url('../fonts/Museo-Sans-Rounded.eot?iefix') format('eot'), url('../fonts/Museo-Sans-Rounded.woff') format('woff'), url('../fonts/Museo-Sans-Rounded.ttf') format('truetype'), url('../fonts/Museo-Sans-Rounded.svg#webfont') format('svg');
   font-weight: normal;
   font-style: normal;
}

.bg {
   position: absolute;
   width: 800px;
   height: 600px;
   background-color: #c5c5c8;
   z-index: -1;
   left: 0;
   bottom: 0;
   top: 0;
   right: 0;
   margin: auto;
}

.bg__layer1 {
   position: absolute;
   z-index: -2;
}

.bg__layer2 {
   position: absolute;
   opacity: 0.37;
   z-index: -1;
}

.bg__layer3 {
   position: absolute;
   opacity: 0.56;
   z-index: -4;
}

.product-cart {
   width: 686px;
   height: 391px;
   box-shadow: 0 0 65px rgba(0, 0, 0, 0.82);
   border-radius: 10px;
   background-color: #111a28;
   position: absolute;
   left: 0;
   bottom: 0;
   top: 0;
   right: 0;
   margin: auto;
}

.product-cart__logo {
   position: relative;
   top: 24px;
   left: 21px;
   padding-bottom: 21px;
   display: inline-block;
}

.product-info {
   padding-top: 21px
}

.product-img {
   float: left;
   padding-left: 35px;
   padding-top: 48px;
}

.product-text {
   float: right;
   font-family: "Museo-Sans-Rounded";
   font-size: 24px;
   font-weight: 100;
   color: #e1e1e1;
}

.product-info__title {
   font-size: 24px;
   width: 155px;
   height: 44px;
   padding-right: 87px;
   line-height: 26px;
}

.product-info__subtitle {
   opacity: 0.54;
   color: #e1e1e1;
   font-size: 14px;
   font-weight: 100;
}

.product-form {
   float: right;
   text-align: left;
   padding-right: 100px;
   width: 184px;
   padding-right: 56px;
}

.box  {
   width: 69px;
   height: 32px;
   border-radius: 1px 1px 1px 1px;
   border: 1px solid #ffffff;
   background-color: #111a28;
   opacity: 0.26;
   color: #e1e1e1;
   font-family: 'Museo-Sans-Rounded' ;
   font-size: 14px;
   font-weight: 100;
   padding-left: 14px;
   
   -webkit-appearance: button;
  
}
.box:focus {
   outline: none;
}
.product-form__size{
   float: left;

   
}


.product-cart__qty{
   float: right;
}
input[type="submit"] {
   width: 184px;
height: 40px;
border: 1px solid #ffffff;
background-color: #4c525a;
opacity: 0.26;
   color: #e1e1e1;
   color: #e1e1e1;
   font-family: 'Museo-Sans-Rounded';
   font-size: 14px;
   font-weight: 100;
}
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   height: 0;
}
